@import './HeaderNav/_style.less';
@import './MenuAside/_style.less';
@import './Main/_style.less';
@import './Footer/_style.less';

.layout {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .main-wrap {
    display: flex;

    .content {
      flex: 1;
    }
  }
}