@import './header-nav/_style.less';
@import './menu-aside/_style.less';
@import './main/_style.less';
@import './footer/_style.less';

.layout {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .main-wrap {
    display: flex;
    height: calc(100vh - 50px);

    .content {
      flex: 1;
    }
  }
}
